<div>
    


@if (DataContext.ShowCommentEditor)
{
    <CommentEditor DataContext="DataContext" />
}
else
{
        <button class="btn btn-outline-dark btn-small"
            @onclick="() => DataContext.NewCommentCommand.Execute(null)">
            <i class="bi bi-chat-square-text"> New</i>
        </button>
}

</div>