<div>
        <label for="titleID" class="form-label">@L["Label.Title"]</label>
        <input type="text" class="form-control" id="titleID" />

        <label for="descriptionID" class="form-label">@L["Label.Description"]</label>
        <BlazingComponents.Summernote.Editor ShowEditButton="false" />


        <button class="btn btn-outline-success btn-small"
                @onclick="() => DataContext.SaveCommentCommand.Execute(null)"><i class="bi bi-check"></i></button>
        <button class="btn btn-outline-danger btn-small"
                @onclick="() => DataContext.CancelEditCommentCommand.Execute(null)"><i class="bi bi-x"></i></button>
</div>


