@using MDD4All.UI.BlazorComponents.Tree
@using Microsoft.AspNetCore.Components

<div class="btn-group" role="group" id="toolbar">
    <button type="button" 
            class="btn btn-outline-secondary btn-sm"
            @onclick="() => DataContext.NodeOneLevelLowerCommand.Execute(null)">
        <i class="bi bi-arrow-bar-left"></i>
    </button>
    <button type="button" 
            class="btn btn-outline-secondary btn-sm"
            @onclick="() => DataContext.NodeOneLevelHigherCommand.Execute(null)">
        <i class="bi bi-arrow-bar-right"></i>
    </button>
    <button type="button" 
            class="btn btn-outline-secondary btn-sm"
            @onclick="() => DataContext.MoveNodeUpCommand.Execute(null)">
        <i class="bi bi-arrow-bar-up"></i>
    </button>
    <button type="button" 
            class="btn btn-outline-secondary btn-sm"
            @onclick="() => DataContext.MoveNodeDownCommand.Execute(null)">
        <i class="bi bi-arrow-bar-down"></i>
    </button>
</div>
<div id="treepanel">
    <MvvmTree TNode="NodeViewModel" 
              DataContext="@DataContext"
              SelectedNodeChanged="OnSelectionChanged">

        <TitleTemplate>@context.Level <ResourceIcon Icon="@context.ReferencedResource.Icon"></ResourceIcon>&nbsp;@context.TreeNodeText</TitleTemplate>
        <LoadingTemplate>@context.Level <span class="placeholder-glow"></span></LoadingTemplate>
    </MvvmTree>
</div>