@using MDD4All.UI.BlazorComponents.TabControl
@using SpecIFicator.DefaultPlugin.BlazorComponents.Document
@using SpecIFicator.DefaultPlugin.BlazorComponents.StatementBrowser
@using SpecIFicator.DefaultPlugin.BlazorComponents.Revision
@using SpecIFicator.Framework.Configuration
@using SpecIFicator.Framework.Configuration.DataModels
@using SplitJs.Blazor.Components
@using MDD4All.SpecIF.ViewModels;
<TabControl>
    @foreach(ComponentDefinition componentDefinition in ComponentDefinitions)
    {
        Key classKey = null;
        IStringLocalizer stringLocalizer = L;
        Type type = null;
        string title = componentDefinition.Title;

        if(SelectedNode != null)
        {
            classKey = SelectedNode.RootResourceClassKey;
            type = DynamicConfigurationManager.GetComponentType(componentDefinition.Title, 
                                                                GetType().FullName, 
                                                                classKey);
                
            stringLocalizer = LocalizerFactory.Create(type);
            title = stringLocalizer[componentDefinition.TitleKey];
        }
        <TabPage>
            <Header>
                <i class="@componentDefinition.Icon"></i> @title
            </Header>
            <ChildContent>
                <div class="tabPanel">
                @if(SelectedNode != null)
                {
                    @if (type != null)
                    {
                        <CascadingValue Value="@DataContext">
                            <DynamicComponent Type="@type"></DynamicComponent>
                        </CascadingValue>
                    }
                    else
                    {
                        <h1>No matching UI component found!</h1>
                    }
                }
                else
                {
                    <div class="noSelctionPanel">@L["Text.NoResourceSelected"]</div>
                }
                
                </div>
            </ChildContent>
        </TabPage>
    }
     
</TabControl>   





