@using MDD4All.SpecIF.DataModels.Manipulation;
@using MDD4All.SpecIF.ViewModels;
@using SpecIFicator.DefaultPlugin.ViewModelExtensions;
@using GalaSoft.MvvmLight;
@using MDD4All.SpecIF.DataModels;
@using MDD4All.SpecIF.DataProvider.Contracts;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@using MDD4All.SpecIF.ViewModels.Revisioning;
@using System.Diagnostics;
@using Vis = VisNetwork.Blazor.Models;
@using MDD4All.SpecIF.ViewModels.Cache;
@using System.Threading.Tasks;


@if (IsLoading)
{
    <tr>
        <td></td>
        <td>@L["Text.Loading"]</td>
        <td></td>
        <td></td>
    </tr>
}
else 
{
    <tr>
        <td><ResourceIcon Icon="@DataContext.ReferencedResource.Icon"></ResourceIcon></td>
        <td>@DataContext.Title</td>
        <td>[@DataContext.ClassTitle]</td>
        <td>
            <Tooltip Text="@L["Button.EditHierarchy"]">
                <a href="/pluginPage/3462ACA8-1AB1-442F-971B-975AF96E0017/@DataContext.HierarchyKey.ToString()"
               class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i>
                </a>
            </Tooltip>

            <HierarchyMenu HierarchyKeyString=@DataContext.HierarchyKey.ToString() />

            
            @if(DataContext.ReferencedResource.ResourceClassID == "RC-TestModel")
            {
                <a href="/pluginPage/FB5B66F3-F15B-46A8-BD16-F330A2C3CE7F/@DataContext.HierarchyKey.ToString()" class="btn btn-sm btn-primary">
                New Testsuite
                </a>
            }
            @if (DataContext.ReferencedResource.ResourceClassID == "RC-TestSuite")
            {
                <a href="/pluginPage/36AB7319-01C7-4F3F-9594-A89DBA0BC0A1/@DataContext.HierarchyKey.ToString()" class="btn btn-sm btn-success">
                    <i class="bi bi-play"></i>
                </a>
            }

        </td>
    </tr>
}

 


