.rawView {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: "Courier New", monospace;
}

pre {
    width: 100%;
}

.noSelctionPanel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: lightgray;
}
