<div class="testModel">
    <ResourceIcon Icon="@DataContext.ReferencedResource.Icon" /> <br />Test Model
    <br />
    @DataContext.ReferencedResource.Title
</div>
<div>@((MarkupString)DataContext.ReferencedResource.Description)</div>
