<div class="testSuite">
    <ResourceIcon Icon="@DataContext.ReferencedResource.Icon" /> Test Suite
    <br />
    @DataContext.ReferencedResource.Title
</div>
<div>@((MarkupString)DataContext.ReferencedResource.Description)</div>
