@using SpecIFicator.Framework.Shared
@using SpecIFicator.DefaultPlugin.BlazorComponents.MetadataEditor
@layout MetadataLayout
<div id="main-panel">
    <div id="navbar">
        <MetadataNavigation @bind-SelectedComponentType="@ActiveType" />
    </div>
    <div id="main-content">
        <div id="content-panel">
            @if (ActiveType == null)
            {
                <DataImporter />
            }
            else
            {
                <DynamicComponent Type="@ActiveType" />
            }

        </div>

    </div>
</div>
