<h2> <img src="https://webimages.mongodb.com/_com_assets/cms/kusb9stg1ndrp7j53-MongoDBLogoBrand1.png?" height="50" /></h2>

<div>
    <fieldset>
        <legend>@L["Label.ConnectionString"]</legend>
        <input type="text" class="form-control" @bind="ConnectionString" />
    </fieldset>
</div>
<div class="mt-4">
    <button class="btn btn-success" @onclick="HandleConnectClick">@L["Label.Connect"]</button>
</div>


