<fieldset class="propertyField">
    <legend>
        <span>@PropertyViewModel.Title</span>
        @{
            string unit = PropertyViewModel.Unit;
            if (!string.IsNullOrEmpty(unit))
            {
                <span>&nbsp;[@unit]</span>
            }
        }
    </legend>

    <PropertyContentViewer PropertyViewModel="@PropertyViewModel" />
</fieldset>

