<select class="@CssStyles" @onchange="OnHierarchySelectionChange">
    @foreach (ResourceClass resourceClass in AvailableResourceClasses)
    {
        Key key = new Key(resourceClass.ID, resourceClass.Revision);
        <option value="@key.ToString()"><ResourceIcon Icon="@resourceClass.Icon"></ResourceIcon> @resourceClass.Title</option>
    }
</select>

