<p>@DataContext.NodeViewModel.Level <ResourceIcon Icon="@DataContext.NodeViewModel.ReferencedResource.Icon"></ResourceIcon> @DataContext.NodeViewModel.Title [@DataContext.NodeViewModel.Type]</p>
@if(!string.IsNullOrEmpty(DataContext.NodeViewModel.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.NodeViewModel.ReferencedResource.Description)</div>
}
