<p>@DataContext.HierarchyViewModel.Level <strong>@((MarkupString)DataContext.HierarchyViewModel.ReferencedResource.Icon)</strong> @DataContext.HierarchyViewModel.Title [@DataContext.HierarchyViewModel.Type]</p>

