<div class="@CssClass">@DataContext.HierarchyViewModel.Level @DataContext.HierarchyViewModel.Title</div>
@if (!string.IsNullOrEmpty(DataContext.HierarchyViewModel.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.HierarchyViewModel.ReferencedResource.Description)</div>
}
