<div class="@CssClass">@DataContext.Level @DataContext.Title</div>
@if (!string.IsNullOrEmpty(DataContext.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.ReferencedResource.Description)</div>
}
