<div class="@CssClass">@DataContext.NodeViewModel.Level @DataContext.NodeViewModel.Title</div>
@if (!string.IsNullOrEmpty(DataContext.NodeViewModel.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.NodeViewModel.ReferencedResource.Description)</div>
}
