<h1>@DataContext.Level <ResourceIcon Icon="@DataContext.ReferencedResource.Icon"></ResourceIcon> @DataContext.Title</h1>
@if(!string.IsNullOrEmpty(DataContext.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.ReferencedResource.Description)</div>
}
