<h1>@DataContext.NodeViewModel.Level <ResourceIcon Icon="@DataContext.NodeViewModel.ReferencedResource.Icon"></ResourceIcon> @DataContext.NodeViewModel.Title</h1>
@if(!string.IsNullOrEmpty(DataContext.NodeViewModel.ReferencedResource.Description))
{
    <div>@((MarkupString)DataContext.NodeViewModel.ReferencedResource.Description)</div>
}
