@using MDD4All.UI.BlazorComponents.Tooltip
<Tooltip Text="@DataContext.NodeViewModel.Title">
    <div>
        @((MarkupString)DataContext.NodeViewModel.ReferencedResource.Description)
    </div>
</Tooltip>