@using MDD4All.UI.BlazorComponents.Tooltip
<Tooltip Text="@DataContext.HierarchyViewModel.Title">
    <div>
        @((MarkupString)DataContext.HierarchyViewModel.ReferencedResource.Description)
    </div>
</Tooltip>