@using SpecIFicator.DefaultPlugin.BlazorComponents.Revision
@using MDD4All.SpecIF.ViewModels


<div id="container">
    <div id="revision-graph">
        <RevisionGraph DataContext="@SelectedResource"
                       OnNodeSelectionChangeCallback="OnNodeSelectionChanged"></RevisionGraph>
    </div>

    <div id="content-area">
        @if (SelectedNodes != null)
        {


            if(SelectedNodes.Count == 1)
            {
                // property viewer
                ResourceViewModel resourceViewModel = SelectedResource.ResourceRevisionViewModel.GetSelectedResourceRevision(SelectedNodes[0]);

                <ResourcePanel ResourceViewModel="@resourceViewModel" />
            }
            else if(SelectedNodes.Count == 2)
            {
                
                // diff viewer
                ResourceViewModel resourceViewModel = SelectedResource.ResourceRevisionViewModel.GetSelectedResourceRevision(SelectedNodes[0]);

                <ResourceDiffViewer DataContext="@resourceViewModel" RevisionToCompare="@SelectedNodes[1]" />
                
            }
        }
    </div>
</div>


