.testcase{
    background-color:gold
}
.testStep {
    background-color: gold;
 
}
.testStep2 {
    background-color:lavender;   
}
.Description {
  
}
.TestData {
 
}
.Result {
  
}
.verdict {

}  
.ReasonMessage {
 
}
.buttonGroup{
   margin:10px
}
.button{
    margin:10px
}