@using SpecIFicator.Framework.Configuration
@using SpecIFicator.Framework.CascadingValues
@if (HierarchyViewModel.LinearResourceList != null)
{
    <div id="backgroundPanel">
        <div id="documentPanel">
            @foreach (NodeViewModel item in HierarchyViewModel.LinearResourceList)
            {
                Type itemType = DynamicConfigurationManager.GetComponentType("DocumentItem",
                GetType().FullName,
                item.RootResourceClassKey);

                if (itemType != null)
                {
                    HierarchyContext itemDataContext = new HierarchyContext();
                    itemDataContext.NodeViewModel = item;

                    <div @onclick="@(() => OnSelectResource(item))"
             class="@(item.IsSelected ? ResourceSelectedStyle : ResourceUnselectedStyle) documentItem">
                        <CascadingValue Value="@itemDataContext">
                            <DynamicComponent Type="@itemType"></DynamicComponent>
                        </CascadingValue>
                    </div>
                }
                else
                {
                    <strong>Item type not found.</strong>
                }
            }
        </div>
    </div>
}
