@using VisNetwork.Blazor
@if(CurrentResourceViewModel.StatementsInitialized)
{
    <Network Id="StatementGraph" Data="@GraphData" 
             Options="@NetworkOptions" 
             OnDoubleClick="OnNodeDoubleClick" />
}
else
{
    <h2>Loading...</h2>
}