@using VisNetwork.Blazor

<div class="vis-network-container">
    <Network Id="RevisionGraph" Data="@DataContext.ResourceRevisionViewModel.RevisionGraph" Options="@NetworkOptions" OnSelectNode="OnSelectNode" OnRelease="OnSelectNode" />
</div>



